@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400&family=Outfit:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* border: 1px solid red; */
  text-decoration: none;
  /* font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Outfit', sans-serif; */
}
.container {
  margin: 0 auto;
  width: 1140px;
  max-width: 95%;
}
.no-favorit-cart{
  margin-bottom: 80px;
margin-top: 40px;
  /* margin: 0 auto; */
  text-align: center;
}
.no-favorit-cart h1{
  text-align: center;
 font-size: 20px;
 color: #161616;
 
}
.no-favorit-cart p{
  max-width: 600px;
  margin: 0 auto;
  line-height: 26px;
  margin-top: -20px;
color: #939393;
  font-size: 16px;
  margin-bottom: 30px;
}
.no-favorit-cart img{
  border-radius: 50%;
  width: 200px;

  height: 200px;
}
h3 {
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;

  /* Secondary */

  color: #333333;
}
.shopping-text {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 30px;
}
.shopping-text p {
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height */

  text-align: right;

  color: #000000;
}
.shopping {
  width: 70%;
}
.cart-table {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  border: 1px solid #d1d1d1;
}
.table-text {
  width: 55%;
}
.table-text2 {
  width: 20%;
}
.table-text3 {
  width: 30%;
  padding-left: 40px;
}
.cards {
  margin-bottom: 50px;
}
.cart {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;
  border: 1px solid #d1d1d1;
}

.cart-img {
  display: flex;
  width: 50%;
  gap: 30px;
  align-items: center;
}
.cart-img img {
  width: 20%;
}
.cart-img h2 {
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  max-width: 50%;
}
.cart-operations {
  display: flex;
  align-items: center;
  width: 18%;
}
.amount-style {
  /* max-width: 40px; */
  padding: 8px 12px 8px 12px;
  border: 1px solid #d1d1d1;
  /* height: 30px; */
  font-size: 18px;
  border: 1px solid #d1d1d1;
}
.cart button {
  width: 35px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  padding: 8px;
  font-size: 18px;
}
.cart-total {
  padding-left: 15px;
}

.shopping-text h1 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 69px;
  text-align: center;

  color: #000000;
}
.cart-remove{
  cursor: pointer;
  margin-left: 40px;
  width: 25px;
  height: 25px;
}
.cart-remove img{
  width: 100%;
  height: 100%;
}

.shopping-carts {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.order {
  width: 30%;
}
.order-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border: 1px solid #d1d1d1;
}
.subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-card p {
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height */
  justify-content: right;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #a9a9a9;
}
.free-shopping {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #d1d1d1;
  background: #f9f9f9;
}
.free {
  display: flex;
  gap: 10px;
  align-items: center;
}
.crucle {
  width: 20px;
  height: 20px;
  background-color: #dab76d;
  border-radius: 50%;
}
.click {
  background-color: #ffffff;
}
.clickfree {
  border: 2px solid #000000;
}
h4 {
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  /* C1/A */

  color: #151515;
  width: max-content;
}
.shoppingBtn {
  padding: 16px 58px;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  width: max-content;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  border: none;
  color: #ffffff;
  background: #b58269;
}
.order-card img {
  width: 280px;
  margin: 0 auto;
}
.creditCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #c9c9c9;
}
.credit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 60px 40px 20px 20px;
  border-radius: 20px;
  width: 600px;
  z-index: 15;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  box-shadow: 0px 2px 18px 0px rgba(239, 229, 229, 0.75);
  -webkit-box-shadow: 0px 2px 18px 0px rgba(239, 229, 229, 0.75);
  -moz-box-shadow: 0px 2px 18px 0px rgba(239, 229, 229, 0.75);

  object-position: bottom;
}
.creditCard,
.overlay-contact {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
}
.credit-card {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.credit_card_form {
  width: 80%;
  margin: 40px 0;
}
.card-ex {
  display: flex;
  gap: 20px;
}
.credit_card_form form {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
.crediBtn {
  width: 100%;
  padding: 16px 0;
  font-family: "Hanken Grotesk", sans-serif;
  border: none;
  font-size: 20px;
  outline: none;
  background-color: #3a5041;
  color: #fff;
  letter-spacing: 0.02em;
  margin-top: 40px;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
@media screen and (max-width: 1136px) {
  .shoppingBtn {
    padding: 14px 50px;
  }

  h4 {
    font-family: "Hanken Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #151515;
    width: max-content;
  }

  .crucle {
    width: 15px;
    height: 15px;
    background-color: #dab76d;
    border-radius: 50%;
  }
}

@media screen and (max-width: 1085px) {
  .shoppingBtn {
    padding: 14px 40px;
  }

  h3 {
    font-family: "Hanken Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
  }

  .order-card img {
    width: 240px;
  }

  .free-p {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1010px) {
  .shopping-text h1 {
    font-size: 35px;
    line-height: 69px;
  }

  .shopping-text {
    margin-bottom: 20px;
  }

  .shoppingBtn {
    width: 100%;
    font-size: 14px;
    padding: 14px 30px;
    display: flex;

    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 12px;
  }

  .order-card p {
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (max-width: 940px) {
  .order-card img {
    width: 200px;
  }

  .shoppingBtn {
    font-size: 14px;
  }

  .crucle {
    width: 10px;
    height: 10px;
    background-color: #dab76d;
    border-radius: 50%;
  }
}

@media screen and (max-width: 900px) {
  .shopping-carts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .shopping {
    width: 98%;
  }

  .order {
    width: 100%;
    padding: 40px;
  }

  .order-card {
    padding: 40px 80px;
  }

  .shoppingBtn {
    margin: 0 auto;
    padding: 16px 44px;
    font-size: 20px;
 width: 100%;
  }

  .order-card img {
    width: 300px;

    margin: 0 auto;
  }

  h4 {
    font-size: 20px;
  }

  .crucle {
    width: 20px;
    height: 20px;
    background-color: #dab76d;
    border-radius: 50%;
  }
}

@media screen and (max-width: 650px) {
  h4 {
    font-size: 18px;
  }
  .credit-modal {
    width: 500px;
  }
}

@media screen and (max-width: 590px) {
  h4 {
    font-size: 16px;
  }

  .crucle {
    width: 15px;
    height: 15px;
    background-color: #dab76d;
    border-radius: 50%;
  }

  .order-card {
    padding: 40px 50px;
  }

  .cart-img h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 18px;
  }

  .amount-style {
    padding: 8px;
  }
}

@media screen and (max-width: 540px) {
  .cart-img h2 {
    font-size: 14px;
    line-height: 24px;
  }

  h3 {
    font-size: 14px;
  }

  .amount-style {
    padding: 6px 6px;
  }

  .cart button {
    border: 1px solid #d1d1d1;
    background-color: #fff;
    padding: 7.3px 8px;
    font-size: 16px;
  }

  .cart-img {
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .order-card {
    padding: 40px;
  }
  .credit-modal {
    width: 400px;
  }
  .credit_card_form {
    width: 90%;
    margin: 40px 0;
  }
}

@media screen and (max-width: 485px) {
  .amount-style {
    padding: 4px 4px;
  }

  .cart button {
    border: 1px solid #d1d1d1;
    background-color: #fff;
    padding: 5.2px 8px;
    font-size: 16px;
  }

  .cart-img h2 {
    font-size: 12px;
    line-height: 24px;
  }
  .shoppingBtn{
font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .amount-style {
    padding: 3px 4px;
  }

  h3 {
    font-size: 12px;
  }
  .cart {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    gap: 18px;
    border: 1px solid #d1d1d1;
  }
  .cart button {
    border: 1px solid #d1d1d1;
    background-color: #fff;
    padding: 4px 6px;
    font-size: 16px;
  }

  .cart-img h2 {
    font-size: 12px;
    line-height: 24px;
  }

  .crucle {
    width: 10px;
    height: 10px;
    background-color: #dab76d;
    border-radius: 50%;
  }

  h4 {
    font-size: 14px;
  }

  .shoppingBtn {
    padding: 14px 40px;
    font-size: 16px;
  }

  .order-card img {
    width: 240px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .order-card {
    padding: 20px;
  }
}
@media screen and (max-width: 400px) {
  .amount-style {
    font-size: 16px;
  }
  .credit-modal {
    width: 350px;
  }
  .credit_card_form {
    width: 100%;
    margin: 40px 0;
  }
  .cart button {
    border: 1px solid #d1d1d1;
    background-color: #fff;
    padding: 3px 6px;
    font-size: 16px;
  }
  .cart-img {
    gap: 10px;
  }
  .cart {
    gap: 10px;
  }
  .shopping-text h1 {
    font-size: 30px;
  }
  .shopping-text {
    margin-bottom: 10px;
  }
  .shopping-text p {
    font-size: 18px;
  }
  h4 {
    font-size: 12px;
  }
  .order-card p {
    font-size: 12px;
    line-height: 26px;
  }
}
@media screen and (max-width: 380px) {
  h3 {
    font-size: 10px;
  }
  .shoppingBtn{
    font-size: 14px;
      }
  .cart-img h2 {
    font-size: 10px;
  }
}
