* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#root {
  width: 100%;
}

.container {
  width: 1140px;
  max-width: 95%;
  margin: 0 auto;
}
.faq-con-hed{
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
 padding: 50px 0;
}
.faq-hedar-text{
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;

  
}
.faq-hedar-text h1{
  position: relative;
  color:transparent;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size:40px;
  line-height: 90px;
  text-transform: uppercase;
  -webkit-text-stroke: 0.1vw #436b50;
}
.faq-hedar-text h1::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
left: 0;
width: 0;
height: 100%;
color: #fff;
-webkit-text-stroke: 0.1vw #d1d1d1;
border-right:2px solid  #436b50;
overflow: hidden;
animation: text-ani 5s linear infinite;
}
@keyframes text-ani{
  0%,10%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }
}
.faq-headar-img{
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
opacity: 1;
animation-name: sual;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease;
transition: all .3s;
}
@keyframes sual{
0%{
  transform: translateY(0px);

} 50%{
  transform: translateY(-40px);
}
100%{
  transform: translateY(0px);
}
}
/* .faq-headar-img::before{
  content: "";
  position: absolute;
  bottom: 70px;
 right: 140px;
  width: 100%;
  height:100%;
  background: url(./images/contact/sual3.png) repeat-x;
  background-size: cover;
  background-position:center;
  opacity:1;
  animation: waveOne 60s linear infinite;
 
} */
.faq-headar-img::before, .faq-headar-img img{
  width: 350px;
  height: 350px;
}
.faq-header {
  background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("./images/Faqs/faq-head.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.faq-title h1 {
  font-family: Outfit;
  font-weight: 500;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#faq {
  width: 100%;
  margin: 50px auto;
  padding: 0 15px;
  text-align: center;
}

section.faq {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq ul {
  text-align: left;
}

.transition,
p,
ul li i:before,
ul li i:after {
  transition: all 0.3s;
}

#faq .no-select,
#faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#faq h2 {
  color: #d22828;
 font-family: 'Hanken Grotesk', sans-serif;
  font-size: 20px;
  font-weight:400 !important;
  line-height: 34px;
  text-align: left;
  padding: 15px 15px 0;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: 0.6s;
}

#faq p {
  color: #827674;
  text-align: left;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  /* margin-top: 15px; */
  margin-bottom: 15px;
  padding: 0 50px 0 15px;
  transition: .3s opacity, .6s max-height;
  hyphens: auto;
  z-index: 2;
}

#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /*padding-bottom: 4px;*/
  /*padding-top: 18px;*/
  background: #fff;
  border-radius: 20px;
  border: 1px solid #BEBFBE;
  -webkit-tap-highlight-color: transparent;
}

#faq ul li+li {
  margin-top: 15px;
}

#faq ul li:last-of-type {
  padding-bottom: 0;
}

#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}

#faq ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}

#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

#faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}

#faq ul li input[type=checkbox]:checked~h2 {
  color: #000;
}

#faq ul li input[type=checkbox]:checked~p {
  /*margin-top: 0;*/
  max-height: 0;
  transition: .3s;
  opacity: 0;
  /*transform: translate(0, 50%);*/
}

#faq ul li input[type=checkbox]:checked~i:before {
  transform: translate(2px, 0) rotate(45deg);

}

#faq ul li input[type=checkbox]:checked~i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
@media screen and (max-width: 1122px){
.faq-hedar-text h1{
  font-size: 30px;
}
}
@media screen and (max-width: 860px){
  .faq-hedar-text h1{
    font-size: 24px;
  }
  }
  @media screen and (max-width: 724px){
    .faq-hedar-text h1{
      font-size: 20px;
    }
    .faq-headar-img img {
      width: 300px;
      height: 220px;
  }
  .faq-headar-img{
    width: 40%;
  }
    }
@media screen and (max-width: 712px) {
  .faq-title h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 560px) {
  .faq-hedar-text h1{
    font-size: 18px;
  }
  .faq-headar-img img {
    width: 200px;
    height: 200px;
}
}
@media screen and (max-width: 501px) {
  .faq-hedar-text h1{
    font-size: 16px;
    line-height: 20px;
  }
  .faq-hedar-text {
    width: 60%;
  }
  .faq-headar-img img {
    width: 150px;
    height: 150px;
}
.faq-headar-img{
  width: 20%;
}
}
@media screen and (max-width: 530px) {
  .faq-title h1 {
    font-size: 30px;

  }

  #faq {
    margin-top: 10px;
  }
}

@media screen and (max-width: 390px) {
  .faq-title h1 {
    font-size: 20px;

  }

  #faq {
    margin-top: -10px;
  }
}