@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400&family=Outfit:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-container hr {
  height: 2px;
  width: 70%;
  color: #c4ccc7;
  background-color: #dfe6e1;


}
.or-sign {
  margin-top: 60px;
  position: relative;
}

.login-span {
  position: absolute;
  background-color: #fff;
  font-size: 16px !important;
  width: max-content;
  left: 0;
  color: #333;
  font-family: 'Outfit';
  padding: 0 10px;
  transform: translate(-50%, -50%);
}

.forum-img {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
height: 70px;
  align-items: center;
  margin-bottom: 20px;
}
.forum-img img:hover{
  width: 25%;
  height: 80%;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 1px -2px 58px -19px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -2px 58px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -2px 58px -19px rgba(0, 0, 0, 0.75);
}
.forum-img img {
  cursor: pointer;
  width: 20%;
  height: 70%;
  transition: 1s;
  
}

.form-container h1 {
  font-weight: bold;
  margin-bottom: 30px;

  letter-spacing: 0.1465em !important;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #ffffff !important;
  line-height: 32px;
  background-color: #3a5041;
padding: 12px 22px;
  border-radius: 30px 0;
}

.form-container  form p {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.login-watch-icon{
  color: #fff;
  cursor: pointer;
  background-color: #3a5041;
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.8s;
}
.login-watch-icon:hover{
background-color: #B58269;
}

.form-container span {
  font-size: 12px;
}

.form-container  form p a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.container-login button {
  border-radius: 20px;
  border: 1px solid #18608a;
  background-color: #18608a;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  padding: 14px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.loginBtn {
  margin-top: 30px;
  height: 60px;
  width: 100%;
  background: #B58269 !important;

  font-style: normal;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 32px !important;
  letter-spacing: 0.265em !important;
  text-transform: uppercase;
  border: none !important;
  color: #fff;
  font-family: 'Hanken Grotesk', sans-serif !important;
  border-radius: 3px !important;
}

.container-login button:active {
  transform: scale(0.95);
}

.container-login button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.remember-me {
  display: flex;
  justify-content: start !important;
  align-items: center !important;
  text-align: start !important;
  width: 100%;
  position: relative;

}

.remember-me input[type=checkbox] {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.remember-me input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: -1px;
  background-color: #e9e9e9;
  border-radius: 3px;
}

.remember-me input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: #1E80EF;
  border-radius: 3px;
}

.remember-me input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 7px;
}

.remember-me input {
  width: 16px !important;
  padding: 20px 40px !important;
  height: 16px;
  background-color: #333;
}

.remember-me p {
  width: max-content;
  font-size: 14px;
  position: absolute;
  top: -12px;
  left: 22px;
  color: #605f5f;
  font-weight: 400;
  font-family: 'Hanken Grotesk', sans-serif !important;
  /* width: 150px; */
}

.form-container form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  width: 70%;

}

.pasword-icon {
  width: 100%;

  position: relative;
}
.pas-icons input{
margin-left: 40px;
}
.pas-icons {
  position: absolute;
  top: 26px;
  right: 20px;
  font-size: 25px;
  color: #333;
  cursor: pointer;
}

.form-container input {
  position: relative;
  background-color: #eee;
  border: none;
  padding: 16px 15px;
  margin: 10px 0;

  border-radius: 5px;
  font-size: 20px;
  outline: none;
  font-family: 'Outfit', sans-serif;
}

.form-container input::placeholder {
  color: rgb(179, 176, 176);
  font-size: 16px;
}

.container-login {
  background-color: #fff;
  border-radius: 10px;

  position: relative;
  overflow: hidden;
  width: 100%;


  height: 100vh;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;

  transition: all 0.6s ease-in-out;
  background-color: #fff;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container-login.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container-login.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container-login.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay-sign {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1606744824163-985d376605aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
  /* background: #222529;
  background: -webkit-linear-gradient(to right, #222529, #222529); */
  /* background: linear-gradient(to right, #222529, #222529); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container-login.right-panel-active .overlay-sign {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container-login.right-panel-active .overlay-left {
  transform: translateX(0);
}

.account-text {
  display: none;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container-login.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.overlay-img {
  width: 350px;
  background-color: #fff;
  padding: 14px 24px;
  border-radius: 40px 0;
  margin-bottom: 10px;


}

.overlay-img img {
  width: 100%;
}

/* RESPOSIVE */

@media screen and (max-width: 1450px) {

  .pas-icons {
    position: absolute;
    top: 24px;
  

  }

  .remember-me p {
    font-size: 12px;
  }
}

@media screen and (max-width: 1350px) {

  .pas-icons {
    position: absolute;
    top: 24px;


  }
}

@media screen and (max-width: 1250px) {

  .pas-icons {
    position: absolute;
    top: 24px;


  }

  .overlay-img {
    width: 300px;
  }

  .form-container form {

    padding: 0 10px;

  }
}

@media screen and (max-width: 1150px) {
  .pas-icons {
    position: absolute;
    top: 24px;


  }

  .remember-me input {
    width: 12px !important;
    padding: 20px 40px !important;
    height: 12px;
    background-color: #333;
  }

  .overlay-img {
    width: 280px;
  }

  .remember-me p {
    font-size: 10px;
  }

  .remember-me input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 5px;
  }

  .remember-me input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    background-color: #e9e9e9;
    border-radius: 3px;
  }

  .remember-me input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    background-color: #1E80EF;
    border-radius: 3px;
  }
}

@media screen and (max-width: 1000px) {
  .form-container form {

    padding: 0 10px;

  }

  .pas-icons {
    position: absolute;
    top: 24px;

    font-size: 25px;
    color: #333;
    cursor: pointer;
  }
}

@media screen and (max-width: 950px) {
  .pas-icons {
    position: absolute;
    top: 24px;

  }

  .container-login button {

    padding: 12px 45px;

  }

  .form-container h1 {
    font-size: 22px;
    padding: 10px 24px;
    border-radius: 20px 0;
  }

  .remember-me p {
    font-size: 8px;
  }

  .forum-img {
    width: 290px;
  }

  .pas-icons {
    font-size: 22px;
  }

}

@media screen and (max-width: 850px) {
  .pas-icons {
    position: absolute;
    top: 24px;


  }
  .login-watch-icon{
    color: #fff;
    cursor: pointer;
    background-color: #3a5041;
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .forum-img {
    width: 250px;
  }

  .overlay-img {
    width: 240px;
    border-radius: 25px 0;
  }

  .or-sign {
    margin-top: 40px;
    position: relative;
  }

  .loginBtn {
    margin-top: 20px;
    height: 50px;


    font-size: 16px !important;

  }

  .container-login button {
    padding: 9px 45px;

  }
}

@media screen and (max-width: 750px) {
  .pas-icons {
    position: absolute;
    top: 24px;


  }

  .form-container h1 {
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 15px 0;
    margin-bottom: 20px;
  }

  .remember-me p {
    font-size: 6px;
  }

  .container-login button {
    padding: 9px 45px;

  }

  .loginBtn {
    margin-top: 30px;
    height: 50px;
    font-size: 16px !important;

  }

  .or-sign {
    margin-top: 40px;
    position: relative;
  }

  .forum-img {
    width: 200px;
  }
  .form-container hr {
    height: 2px;
    width: 80%;
    color: #c4ccc7;
    background-color: #ccd1ce;
  
  
  }
}

@media screen and (max-width: 670px) {
  /* .login-col {
    display: flex;
    flex-direction: column;
  } */

  .form-container form {
    width: 80%;
  }

  .remember-me p {
    font-size: 12px;
  }

  .overlay-container {
    display: none;
  }
  .sign-up-container {
    opacity: 1;
    width: 100%;
    z-index: 1;
  }

  .sign-in-container {
    opacity: 1;
    width: 100%;
    z-index: 5;

  }

  .remove-up-sign {
    opacity: 0;
    width: 100%;
  }

  .remove-sign-in {
    opacity: 0;
    width: 100%;
  }



  .account-text {
    display: block;
    font-family: 'Outfit';
    font-size: 18px;
  }

  .account-text b {
    font-size: 18px;
    color: #3a5041;
  }
  .forum-img {
    width: 350px;
  }

}

@media screen and (max-width: 570px) {


  .remember-me p {
    font-size: 10px;
  }
  .form-container hr {
    height: 2px;
    width: 80%;
    color: #c4ccc7;
    background-color: #ccd1ce;
  
  
  }

}

@media screen and (max-width: 490px) {


  .remember-me p {
    font-size: 9px;
  }
  .form-container hr {
    height: 2px;
    width: 80%;
    color: #c4ccc7;
    background-color: #ccd1ce;
  
  
  }
  .forum-img{
    width: 300px;
  }
}

@media screen and (max-width: 430px) {
 

  .remember-me p {
    font-size: 7px;
  }
  .forum-img{
    width: 280px;
  }
}

@media screen and (max-width: 370px) {
  .pas-icons {

    font-size: 19px;
    top: 26px;
  }
  .forum-img{
    width: 230px;
  }

  .remember-me p {
    font-size: 6px;
  }
 

  .login-span {
    font-size: 12px !important;
    padding: 0 6px !important;
  }

  .account-text {
    font-size: 14px;
  }

  .account-text b {
    font-size: 16px !important;
  }

  .container-login button {
    padding: 6px 45px;
    font-size: 14px !important;
    margin-top: 20px;
  }
  
}